[Unit]
Description=Prometheus exporter for Postgresql (https://github.com/wrouesnel/postgres_exporter)
After=network.target

[Service]
Type=simple
User=postgres
Group=node_exporter
EnvironmentFile=/home/ops/postgres_exporter/env
ExecStart=/usr/local/bin/postgres_exporter
SyslogIdentifier=prometheus_postgres_exporter
Restart=always

[Install]
WantedBy=multi-user.target